:root {
	--content-pull-height: 5rem;

	@include media-breakpoint-up(lg) {
		--content-pull-height: 7rem;
	}
}

.ntg-banner {
	$this: &;
	--ntg-banner-min-height: 350px;
	--ntg-banner-content-padding-top: 5rem;
	--ntg-banner-content-padding-bottom: 2rem;

	--ntg-banner-inline-video-min-height: 280px;

	color: $white;
	text-shadow: $text-shadow;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: var(--ntg-banner-min-height);

	@include media-breakpoint-up(lg) {
		--ntg-banner-min-height: 450px;
		--ntg-banner-content-padding-top: 7rem;
		--ntg-banner-content-padding-bottom: 3rem;
	}

	@include media-breakpoint-up(md) {
		--ntg-banner-inline-video-min-height: 400px;
	}

	&--header-offset {
		margin-top: var(--page-header-height);
	}

	&--content-pull-up {
		@include media-breakpoint-down(lg) {
			--ntg-banner-content-padding-bottom: calc(2rem + var(--content-pull-height));
		}

		@include media-breakpoint-up(lg) {
			--ntg-banner-content-padding-bottom: calc(3rem + var(--content-pull-height));
		}
	}

	&--no-description {
		--ntg-banner-min-height: 250px;
		--ntg-banner-content-padding-top: 3rem;
		--ntg-banner-content-padding-bottom: 1.5rem;
		align-items: flex-end;

		@include media-breakpoint-up(lg) {
			--ntg-banner-min-height: 370px;
			--ntg-banner-content-padding-top: 4rem;
			--ntg-banner-content-padding-bottom: 2rem;
		}
	}

	&--has-bg {
		background: var(--banner-bg);
		color: var(--banner-color);

		&-blue {
			--banner-bg: #{$primary};
			--banner-color: #{$white};
		}
	}

	&--has-description-media {
		--ntg-banner-content-padding-top: 3rem;
		--ntg-banner-content-padding-bottom: 3rem;

		@include media-breakpoint-up(lg) {
			--ntg-banner-content-padding-top: 4rem;
			--ntg-banner-content-padding-bottom: 4rem;
			--ntg-banner-min-height: 450px;
		}

		#{$this}__text {
			>.row {

				@include media-breakpoint-down(xl) {
					--bs-gutter-y: 2rem;
					--bs-gutter-x: 2rem;
				}

				@include media-breakpoint-up(xl) {
					--bs-gutter-y: 3rem;
					--bs-gutter-x: 3rem;
				}
			}
		}

		.col-right-block {
			h2 {
				margin-bottom: calc(var(--h2-size) * 1.1);
			}

			.row {
				--bs-gutter-y: 1rem;

				@include media-breakpoint-up(sm) {
					--bs-gutter-x: 3rem;
				}
			}

			h3 {
				max-width: 230px;
				margin-top: 10px;
				margin-bottom: 10px;

				@include media-breakpoint-down(lg) {
					font-size: 1rem
				}

				@include media-breakpoint-up(lg) {
					font-size: 1.125rem;
				}
			}

			h4 {
				@include media-breakpoint-down(lg) {
					font-size: 1rem
				}

				@include media-breakpoint-up(lg) {
					font-size: 1.125rem;
				}
			}

			.btn {
				&-outline-info {
					text-shadow: none;
					--bs-btn-color: #{$white};
					--bs-btn-hover-color: #{$primary};
					--bs-btn-hover-border-color: #{$info};
					--bs-btn-hover-bg: #{$info};
					--bs-btn-active-color: #{$white};
					--bs-btn-active-border-color: #{$info};
					--bs-btn-active-bg: #{$info};
					--bs-btn-min-width: 220px;
				}
			}
		}
	}

	>* {
		width: 100%;
		max-width: 100%;
	}

	&__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		&::after {
			content: '';
			background: $black-gradient;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
		}
	}

	&__video-hold-inline {
		overflow: hidden;

		video,
		img {
			width: 100%;
			max-width: 100%;
			min-height: var(--ntg-banner-inline-video-min-height);
		}

		iframe {
			width: 100%;
			max-width: 100%;
			min-height: var(--ntg-banner-inline-video-min-height);
		}
	}

	&__image,
	&__video {
		object-fit: cover;
		position: absolute;
		width: 100%;
		height: 100%;
	}

	&__content {
		position: relative;
		padding-top: var(--ntg-banner-content-padding-top);
		padding-bottom: var(--ntg-banner-content-padding-bottom);

		h1 {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			gap: 1rem;

			.small-text {
				font-size: 1rem;
			}
		}

		.progress {
			max-width: 250px;
		}

		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

// pulling up content over the banner
.content-pull-up {
	margin-top: calc(-1 * var(--content-pull-height));
	position: relative;
	z-index: 10;
}

// pulling up aside content in larger screen
.aside-pullup {
	@include media-breakpoint-up(lg) {
		margin-top: calc(-1 * (var(--content-pull-height) + var(--breadcrumb-height)));
	}
}